/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
*{
	box-sizing: border-box;
    -webkit-text-size-adjust: none;
    -webkit-font-smoothing: antialiased !important;
    -webkit-text-stroke: 1px transparent;
    text-rendering: optimizeLegibility;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
}
.loading{
	background-image: url(./loading.png);
	display: block;
	width: 100%;
	height: 101vh;
	background-size: cover;
	background-position: top center;
}

h2{
	font-size: 8vw;
    font-weight: 900;
}
h3{
    font-size: 3vw;
    margin-bottom: 150px;
    color:#d6a41d
}
h4{
	font-family: 'Arbutus Slab', serif;
    color: #888;
    text-align: center;
    font-size: 1.7vw;
    line-height: 2.6vw;
}
p{
	    font-size: 1.2vw;
    line-height: 1.9vw;
}
a.md-primary.md-hue-1 {
    font-size: 1vw;
    line-height: 2.5vw;
    color: #348597;
    margin-left: 30px;
}
#map_canvas{
	width: 100vw;
	height: 30vw; 
	margin-bottom: 100px;
}
.button{
	line-height: 1.95vw;
    border: 0;
    background: rgba(0, 0, 0, 0);
    border-bottom: 2px solid rgba(255,255,255,0.5);
    color: #fff;
    font-size: 0.8vw;
    font-weight: 500;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 10px;
}
.button>b:after,.button>b:before{
	display: block;
    width: 20px;
    content: '';
    position: absolute;
    height: 2.1vw;
   	top: 0;
    border-bottom: 2px solid rgba(255,255,255,0.5);
    border-top: 2px solid rgba(255,255,255,0.5);

}
.button>b:after{
	 left: -22px;
	 border-left:2px solid rgba(255,255,255,0.5);
}
.button>b:before{
	 right: -22px;
	 border-right:2px solid rgba(255,255,255,0.5);

}
.button:after{
    letter-spacing: 0px;
    content: 'About';
    position: absolute;
    top: -18px;
    font-size: 0.7vw;
    left: 7px;
    text-transform: initial;
    font-family: 'Arbutus Slab';
    font-style: italic;
    font-weight: 800;
    color:rgba(255,255,255,0.5);

}
.dark.button:after{
    color: rgba(214, 164, 29,0.5);
}
.dark.button{
	
    border-bottom: 2px solid #d6a41d;
    color: #d6a41d;

}
.dark.button>b:after,.dark.button>b:before{
	
    border-bottom: 2px solid #d6a41d;
    border-top: 2px solid #d6a41d;

}
.dark.button>b:after{

	 border-left:2px solid #d6a41d;
}
.dark.button>b:before{

	 border-right:2px solid #d6a41d;

}