<section id="studies">
	<article>
		<span (click)="close()">Close</span>
	
		<h1>Studies</h1>
	</article>
	<article>
		<h2>Formación Académica</h2>
		<ul>
			<li>
				<div>
					<span>
						<b>Explotación y Mantinimiento de Sistemas Informáticos </b>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum distinctio voluptates eos ab tempora nam vero quae dolorem sed nesciunt aliquam, rerum necessitatibus repellat maxime, nulla harum fugiat est minima.
						</p>
					</span>
				</div>
			</li>
			<li>
				<div>
					<span>
						<b>Desarrollo Aplicaciones Web</b>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error officia cupiditate, totam pariatur reprehenderit nisi, modi blanditiis ipsum non vel, nostrum dignissimos tempora nam corporis ut sapiente deleniti quis cumque.
						</p>
					</span>
				</div>
			</li>
		</ul>
	</article>
	<article>
		<h2>Formación Adicional</h2>
		<ul>
			<li>
				<div>
					<span>
						<b>Explotación y Mantinimiento de Sistemas Informáticos </b>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatum distinctio voluptates eos ab tempora nam vero quae dolorem sed nesciunt aliquam, rerum necessitatibus repellat maxime, nulla harum fugiat est minima.
						</p>
					</span>
				</div>
			</li>
			<li>
				<div>
					<span>
						<b>Desarrollo Aplicaciones Web</b>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error officia cupiditate, totam pariatur reprehenderit nisi, modi blanditiis ipsum non vel, nostrum dignissimos tempora nam corporis ut sapiente deleniti quis cumque.
						</p>
					</span>
				</div>
			</li>
		</ul>
	</article>
</section>