<section id="studies">
	<article>
		<ul>
			<li>
				<a href="">
					<div>
						<div class="button">
							<b>Mades</b>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="">
					<div>
						<div class="button">
							<b>Fibgar</b>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="">
					<div>
						<div class="button">
							<b>Adesis</b>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="">
					<div>
						<div class="button">
							<b>Rtve</b>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="">
					<div>
						<div class="button esp">
							<b>Hermanos<br>Clever</b>
						</div>
					</div>
				</a>
			</li>
			<li>
				<a href="">
					<div>
						<div class="button">
							<b>Paradigma</b>
						</div>
					</div>
				</a>
			</li>
		</ul>
	</article>
	<article>
		<div>
			<h1>Workflow</h1>
			<span (click)="close()" id="close">
				<span></span>
			</span>
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio ipsa quis nobis, nisi odit explicabo suscipit, tempore dicta veniam ea facere consectetur! Perferendis quam aperiam, laboriosam quasi commodi voluptatibus odio!</p>
			
		</div>
	</article>
	<article>
		<img src="./assets/img/climb3.jpg" alt="">
	</article>

</section>