@-webkit-keyframes load{
  0% {
      -webkit-clip-path: polygon(0vw 0vh, 0vw 100vh, 100vw 100vh, 0vw 100vh);
      animation-timing-function: cubic-bezier(1, 1,1, 0.7);
  }
  75% {
      -webkit-clip-path: polygon(0vw 0vh, 100vw 100vh, 100vw 100vh, 0vw 100vh);
      animation-timing-function: cubic-bezier(0.4, 0.4, 0.4, 0.4);
  }
  100% {
      -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
      animation-timing-function: cubic-bezier(0.7, 1, 1, 1);
  }
}
@-moz-keyframes load{
 0% {
     -webkit-clip-path: polygon(0vw 0vh, 0vw 100vh, 100vw 100vh, 0vw 100vh);
     animation-timing-function: cubic-bezier(1, 1,1, 0.7);
 }
 75% {
     -webkit-clip-path: polygon(0vw 0vh, 100vw 100vh, 100vw 100vh, 0vw 100vh);
     animation-timing-function: cubic-bezier(0.4, 0.4, 0.4, 0.4);
 }
 100% {
     -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
     animation-timing-function: cubic-bezier(0.7, 1, 1, 1);
 }
}
@-o-keyframes load{
 0% {
     -webkit-clip-path: polygon(0vw 0vh, 0vw 100vh, 100vw 100vh, 0vw 100vh);
     animation-timing-function: cubic-bezier(1, 1,1, 0.7);
 }
 75% {
     -webkit-clip-path: polygon(0vw 0vh, 100vw 100vh, 100vw 100vh, 0vw 100vh);
     animation-timing-function: cubic-bezier(0.4, 0.4, 0.4, 0.4);
 }
 100% {
     -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
     animation-timing-function: cubic-bezier(0.7, 1, 1, 1);
 }
}
@keyframes load{
 0% {
     -webkit-clip-path: polygon(0vw 0vh, 0vw 100vh, 100vw 100vh, 0vw 100vh);
     animation-timing-function: cubic-bezier(1, 1,1, 0.7);
 }
 75% {
     -webkit-clip-path: polygon(0vw 0vh, 100vw 100vh, 100vw 100vh, 0vw 100vh);
     animation-timing-function: cubic-bezier(0.4, 0.4, 0.4, 0.4);
 }
 100% {
     -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100vw 100vh, 0vw 100vh);
     animation-timing-function: cubic-bezier(0.7, 1, 1, 1);
 }
}
@keyframes loadbg{
 0% {
	opacity: 0; 	
   transform: translateY(30vh);
 }
 100% {
	opacity: 1;
   transform: translateY(0vh);
 }
}
@keyframes bg1{
 0% {
	    background-position: -14.1vw -20.3vh;
 }
 100% {
	    background-position: 40% 0%;
 }
}
@keyframes bg2{
 0% {
	    background-position: -26.1vw -20.3vh;
 }
 100% {
	       background-position: 40% 30%;
 }
}
@keyframes bg3{
 0% {
 	        background-position: -38vw -20.3vh;
   
 }
 100% {
	background-position: 79% 0%;

 }
}
@keyframes bg4{
 0% {
	    background-position: -14.15vw -70.1vh;
   
 }
 100% {
    background-position: 0% 80%;
 }
}
@keyframes bg5{
 0% {
	    background-position: -26.1vw -70.1vh;
 }
 100% {
      background-position: 17% 100%;

 }
}
@keyframes bg6{
 0% {
	    background-position: -38vw -70.1vh;
   
 }
 100% {
    background-position: 49% 91%;
 }
}
.button.esp {
    margin-top: -1.87vw;
}
.close{
	position: fixed;
	right: 30px;
	top: 30px;
}
#studies{
	width: 100%;
	max-height: 100vh;
	overflow: scroll;
	-webkit-clip-path: polygon(0vw 0vh, 0vw 100vh, 100vw 100vh, 0vw 100vh);
	animation-name: load;
	animation-duration: 1000ms;
	animation-direction: normal;
	animation-fill-mode: both; 
	animation-delay: 1.3s;
}
#studies >article{
	width: 50%;
	height: 100vh;
	float: left;
	position: relative;
}
#studies >article:nth-child(1){
	background-color: #fff;
	width: 43%;
}
#studies >article:nth-child(1):before{
	width: 0;
	height: 0;
	content: '';
	position: absolute;
	left: 0;
	top: 21vh;
	border-style: solid;
	border-width: 29vh 0 29vh 6.9vw;
	border-color: transparent transparent transparent #fff;
}
#studies >article:nth-child(2){
	width: 50%;
	position: absolute;
	z-index: 1;
	top: 0;
	left: 25%;
	background: #fff;
	-webkit-clip-path:polygon(25vw -30vh, 5.5vw 50vh, 25vw 130vh, 44.5vw 50vh);
}
#studies >article:nth-child(2)>div{
	padding: 3vw 8vw;
    text-align: center;

}
#studies >article:nth-child(2)>div>span#close {
    width: 25px;
    height: 25px;
    padding: 20px 0;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    margin-bottom: 5vmax;
}

#studies >article:nth-child(2)>div>span#close >span{
	display: block;
	vertical-align: middle;
	background-color: #d6a41d;
	width: 25px;
	height: 2px;
	position: relative;
	transform:rotate(45deg);
}
#studies >article:nth-child(2)>div>span#close >span:before{
	background-color: #d6a41d;
	width: 25px;
	height: 2px;
	position: absolute;
	top: 0;
	content: '';
	left: 0;
	transform:rotate(-90deg);

}
#studies >article:nth-child(2)>div>h1{
    margin-bottom: 2.5vmax;
}
#studies >article:nth-child(2)>div>p{
    font-size: 0.9vw;
    max-width: 24vw;
    line-height: 1.4vw;
    font-weight: 300;
    margin:0 auto;
    text-transform: uppercase;
}
#studies >article:nth-child(3){
	width: 43%;
	margin-left: 14%;
}
#studies >article:nth-child(3) > img{
	filter: contrast(0.7);
	-webkit-filter:contrast(0.7);
    max-width: 100%;
    height: 100%;
    -webkit-filter: contrast(0.55) sepia(0.2) grayscale(0.1) brightness(0.8);
}
#studies >article:nth-child(3):before{
	width: 0;
	height: 0;
	content: '';
	right: 0;
	top: 21vh;
	position: absolute;
    z-index: 2;
	border-style: solid;
	border-width: 29vh 6.9vw 29vh 0;
	border-color: transparent #fff transparent transparent;
}
#studies >article:nth-child(1)>ul>li{
	background: rgba(0,0,0,0.1);
	position: absolute;
	width: 56%;
	z-index: 2;
	height: 50vh;
	filter: contrast(0.7);
	-webkit-filter:contrast(0.7);
	background-repeat: no-repeat;
    background-size: auto  120vh;
    background-image: url(./assets/img/climb2.jpg);
    animation-duration: 600ms;
	animation-direction: normal;
	animation-fill-mode: both; 
	 animation-timing-function: cubic-bezier(1, 0.4, 0.4, 1);
	animation-delay: 2.6s;
	transition: transform 300ms cubic-bezier(1,0.4,0.4,1) 0ms;
}
#studies >article:nth-child(1)>ul>li:hover{
	transform: scale(1.05);
	z-index: 3;
	-webkit-filter:contrast(0.9);
	background-size: auto  150vh;
	transition: transform 300ms cubic-bezier(1,0.4,0.4,1) 0ms ,filter 300ms linear 0ms , background 5s linear;

}
#studies >article:nth-child(1)>ul>li>a{
	display: block;
	width: 100%;
	height: 100%;
	display: table;
}
#studies >article:nth-child(1)>ul>li>a>div {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
#studies >article:nth-child(1)>ul>li:nth-child(1){
	top: 0;
	left: -12%;
	-webkit-clip-path: polygon(0% 0%, 50% 100%, 50% 100%, 100% 0%);
	background-color:rgba(214, 164, 29,0.15); 
	animation-name:bg1; 

}

#studies >article:nth-child(1)>ul>li:nth-child(2){
	top: 0;
	left: 16%;
	-webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%, 50% 0);
	animation-name:bg2;

	/* background-color:rgba(214, 164, 29,0.2) */
}

#studies >article:nth-child(1)>ul>li:nth-child(3){
	top: 0;
	right: 0;
	-webkit-clip-path: polygon(0% 0%, 50% 100%, 50% 100%, 100% 0%);
	animation-name:bg3; 
	/*background-color:rgba(214, 164, 29,0.3);*/

}

#studies >article:nth-child(1)>ul>li:nth-child(4){
	bottom: 0%;
	left: -12%;
	
	-webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%, 50% 0%);
animation-name:bg4; 
	/*background-color:rgba(214, 164, 29,0.4)*/
}

#studies >article:nth-child(1)>ul>li:nth-child(5){
	bottom: 0;
	left: 16%;
		-webkit-clip-path: polygon(0% 0%, 50% 100%, 50% 100%, 100% 0%);
	animation-name:bg5; 
	
		/*background-color:rgba(214, 164, 29,0.5)*/

}

#studies >article:nth-child(1)>ul>li:nth-child(6){
	bottom: 0;
	right: 0;
	-webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%, 50% 0%);
	animation-name:bg6;
	/*background-color:rgba(214, 164, 29,0.6)*/

}
















