<section id="workflow">
	<article>
		<ul>
			<li *ngFor="let work of this.works; let i = index" (mouseover)="over(i,'point')" (mouseout)="blur(i,'point')" class="project" (click)="showProject(i)">
				<a>
					<div>
						<div class="button">
							<b>{{work.shortName }}</b>
						</div>
					</div>
				</a>
				
			</li>
		</ul>
	</article>
	<article>
		<div>
			<span (click)="close()" id="close">
				<span></span>
			</span>
			<div>
				<h2  *ngIf="!this.currentProject">WorkFlow</h2>
				<h3  *ngIf="!this.currentProject">Lorem ipsum dolor sit amet</h3>
				<p *ngIf="!this.currentProject" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus natus quasi autem voluptatibus veniam, est soluta praesentium mollitia ipsam aspernatur quas quos iste, quis dicta nesciunt officia, reiciendis nulla animi!</p>

				<div id="info" *ngIf="this.currentProject">
					<span>{{this.currentProject.initDate}}</span><span>-</span>
					<span>{{this.currentProject.finalDate}}</span>
					<h2>{{this.currentProject.company}}</h2>
					<h3>{{this.currentProject.title}}</h3>
					
					<p [innerHTML]="this.currentProject.description"></p> 
				</div>
				<ul id="currentProjects" *ngIf="this.currentProject">
					<li *ngFor="let project of this.currentProject.projects">
						<a *ngIf="project.link" href="{{project.link}}" target="_blank">{{project.name}}</a>
						<a *ngIf="!project.link" class="disabled" target="_blank">{{project.name}}</a>
					</li>
				</ul>
				<div id="languages" *ngIf="this.currentProject">
					<span *ngFor="let lang of this.currentProject.tecnologies">{{lang}}</span>
				</div>
				<div id="lineBar" [class.down]="this.currentProject">
					<span *ngFor="let work of this.works; let i = index"
						(click)="showProject(i)" 
						(mouseover)="over(i, 'project')" 
						(mouseout)="blur(i, 'project')" 
						class="point">
							{{work.initDate }}
					</span>
					<div (click)="showAllProjects()">Show all projects</div>
				</div>
			</div>
			
		</div>
	</article>
	<article>
		<img src="./assets/img/climb3.jpg" alt="">
	</article>
</section>