<small>
	Componente film
</small>
<add-film></add-film>
<p *ngIf="!currentFilm" >
	Click one film to edit.
</p>
<p *ngIf="currentFilm" >
	Continue editing and see the "Two way data binding".
</p>
<div *ngIf="currentFilm" >
	<input [(ngModel)]="currentFilm.title" type="text"  value={{currentFilm.title}}>
	<input [(ngModel)]="currentFilm.director" type="text" value={{currentFilm.director}}>
	<input [(ngModel)]="currentFilm.year" type="text" value={{currentFilm.year}}>
	<button (click)="currentFilm = undefined">Close</button>
</div>

<film-list  (gotFilm)="getCurrentFilm($event)" [currentFilm]="currentFilm" ></film-list>