<section id="menu">
	<article>
		<a [routerLink]="['/education']">
			<div>
				<button class="button">
					<b>EDUCATION</b>
				</button>
			</div>
			
			<video autoplay="yes" loop>
			 	<source src="./assets/video/studying.mp4" type="video/mp4"> 
			</video>
		</a>
	</article>
	<article>
		<a>		
			<div>
				<h1>David Dávila</h1>
				<span id="menu">
					<span></span>
				</span>
				<p>I´m a Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sed repellendus consectetur doloremque deleniti!</p>
			
				<button class="button dark" [routerLink]="['/myself']">
					<b>Myself</b>
				</button>
			</div>
		</a>
		
	</article>
	<article>
		<a [routerLink]="['/works']">
			<div>
				<button class="button">
					<b>WORKS</b>
				</button>	
			</div>	
		
			<video autoplay="yes" loop>
			 	<source src="./assets/video/working.mp4" type="video/mp4"> 
			</video>
		</a>
		
	</article>
	
</section>