<section id="projects">
	<header>
		<h1>Hobbies</h1>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa quod cupiditate hic! Porro iste quia dicta quidem voluptatibus. Saepe ullam dolore voluptas maxime amet. Eveniet quas praesentium nisi magni reprehenderit?</p>
	</header>
	<article>
		<div>
			<div  data-0="transform: translateY(60.5%);" data-1200="transform:translateY(-20%)">

				<h3>Drawing</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae, excepturi, veniam. Quisquam vero voluptatem, in at sequi ratione accusantium suscipit aliquam laborum quod, iste animi delectus iure! Sequi, quibusdam, molestiae.</p>
			</div>

			<div  data-0="transform: translateY(100.5%);" data-1200="transform:translateY(-100%)">
				<img src="" alt="">
			</div>
		</div>
	</article>
	<article>
		<div>
			<div  data-1000="transform: translateY(15.5%) translateX(80%)" data-2000="transform: translateY(30%) translateX(80%)" >
				<h3>Writing</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quibusdam deleniti error repellat, quaerat illum voluptatibus harum, doloribus rerum accusantium omnis alias dolore sunt veritatis nemo aliquam officia nisi inventore itaque.</p>
			</div>

			<div  data-1000="transform: translateY(50.5%) translateX(-40%)" data-2200="transform: translateY(-130%) translateX(-40%) ">
				<img src="" alt="">
			</div>
		</div>
	</article>
	<article>
		<div>
			<div data-1600="transform: translateY(50.5%) " data-2200="transform: translateY(-0%)">

				<h3>Traveling</h3>
				<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laboriosam magni corporis aliquam esse asperiores saepe fugit, dolore, culpa vitae in eligendi totam! Consequatur et molestias magnam sunt incidunt provident, quas.</p>
			</div>
			<div   data-1300="transform: translateY(60.5%);width:20vw" data-4000="transform:translateY(0%);width:80vw">
					<div id="map_canvas"></div>
			
				</div>
		</div>
	</article>
</section>