#menu{
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: -1;
}
#menu >article{
	width: 100%;
	top: 0;
	height: 100%;
	position: absolute;
	overflow: hidden;
	transition: 1600ms all cubic-bezier(1,0.4,0.4,1) 0ms;
	cursor: pointer;
}
#menu >article>a:hover>video{
	-webkit-filter: blur(0px) contrast(1);
    filter: blur(0px) contrast(1);
}
#menu.open >article:nth-child(1){
	 shape-inside:polygon(0vw 0vh, 25vw 0vh, 50vw 100vh, 0vw 100vh);
	-webkit-clip-path: polygon(0vw 0vh, 25vw 0vh, 50vw 100vh, 0vw 100vh);
}
#menu.open >article:nth-child(1)>a>video{
    left: 0vh;
}
#menu.open >article:nth-child(3){
	shape-inside:polygon( 50vw 0vh, 50vw 100vh,0vw 100vh, 25vw 0vh);
	-webkit-clip-path: polygon( 100vw 0vh, 100vw 100vh,50vw 100vh, 75vw 0vh);
}
#menu.open >article:nth-child(3)>a>video{
	    right: 0vh;
}
 #menu.open >article:nth-child(3)>a{
 	position: relative;
    left: 50vw;
 	}   

#menu >article:nth-child(1){
	 shape-inside:polygon(0vw 0vh, 0vw 0vh, 0vw 100vh, 0vw 100vh);;
	     -webkit-clip-path: polygon(0vw 0vh, 0vw 0vh, 0vw 100vh, 0vw 100vh);
}
#menu >article:nth-child(3){
	 shape-inside:polygon( 100vw -100vh, 50vw 100vh,50vw 100vh, 50vw 100vh);
	-webkit-clip-path: polygon( 100vw 0vh, 100vw 100vh,100vw 100vh, 100vw 0vh);
}
#menu >article:nth-child(2){
	cursor: default;
	position: absolute;
	width: 50vw;
	left: 25vw;
	-webkit-clip-path: polygon(0vw 0vh, 50vw 0vh, 25vw 100vh, 0vw 0vh);
}
#menu >article:nth-child(2)>a{
	width: 100%;
}
#menu >article:nth-child(2)>a>div{
	vertical-align: top;
    padding: 3vw 8vw;

	opacity: 0;
	transition: opacity 1000ms linear 00ms;
}
#menu >article:nth-child(2)>a>div>h1{
	margin-bottom: 2.5vmax;
}
#menu >article:nth-child(2)>a>div>p {
	font-size: 0.9vw;
	line-height: 1.4vw;
	font-weight: 300;
	text-transform: uppercase;
}
#menu >article:nth-child(2)>a>div>span#menuButton{
	width: 25px;
	height: 25px;
	padding:20px 0;
	display: block;
    margin: 0 auto;
    cursor: pointer;
	margin-bottom: 5vmax;
}
#menu >article:nth-child(2)>a>div>span#menuButton>span{
	display: block;
	vertical-align: middle;
	background-color: #d6a41d;
	width: 25px;
	height: 2px;
	position: relative;
}
#menu >article:nth-child(2)>a>div>span#menuButton>span:before{
	position: absolute;
	width: 25px;
	height: 2px;
	top: 0;
	left: 0;
	content: '';
	transform: translateY(-5px);
	background-color: #d6a41d;
}
#menu >article:nth-child(2)>a>div>span#menuButton>span:after{
	position: absolute;
	width: 25px;
	height: 2px;
	top: 0;
	left: 0;
	content: '';
	transform: translateY(5px);
	background-color: #d6a41d
}
#menu >article:nth-child(2)>a>div>.button{
	position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -61px;
    margin-top: -17px;
}
#menu >article>a{
	width: 50%;
	height: 100%;
	display: block;
	display: table;
	text-align: center
}
#menu >article>a>video{
	position: absolute;
	top: 0%;
	min-width: 100%;
	min-height: 100%;
	width: 100wmax;
	z-index: -1000;
	overflow: hidden;
	-webkit-filter: blur(0px) contrast(0.7);
	filter: blur(0px) contrast(0.7);
	transition: filter 1000ms;
}
#menu >article>a>div{
	display: table-cell;
	vertical-align: middle;
}


#menu >article:nth-child(2)>a>div> .button{
	
    border-bottom: 2px solid #d6a41d;
    color: #d6a41d;

}
#menu >article:nth-child(2)>a>div> .button>b:after,#menu >article:nth-child(2)>a>div> .button>b:before{
	
    border-bottom: 2px solid #d6a41d;
    border-top: 2px solid #d6a41d;

}
#menu >article:nth-child(2)>a>div> .button>b:after{

	 border-left:2px solid #d6a41d;
}
#menu >article:nth-child(2)>a>div> .button>b:before{

	 border-right:2px solid #d6a41d;

}
#menu.open  >article:nth-child(2)>a>div{
	opacity: 1;
}

/* Left*/
#menu.open.left >article:nth-child(1){
    z-index: 1;
    -webkit-clip-path: polygon(0vw 0vh, 100vw 0vh, 100VW 100vh, 0vw 100vh);

}
#menu.open.left >article:nth-child(1)>a>div{
	opacity: 0;
	transition: opacity 300ms;
}
#menu.open.right >article:nth-child(3){
    z-index: 1;
    -webkit-clip-path: polygon( 100vw 0vh, 100vw 100vh,0vw 100vh, 0vw 0vh);

}
#menu.open.right >article:nth-child(3)>a>div{
	opacity: 0;
	transition: opacity 300ms;
}